.post-container{
    background-color: #fffafa;
    margin: 0 200px auto 200px;
   
}

.post{
    text-align: left;
    padding: 20px auto 20px auto;
    margin: 0 50px 50px 50px;
}

h1{
    font-family: Montserrat;
}

.date{
    color: #008080;
    font-family: Roboto;
    font-weight: 600;
}

.post-content{
    text-align: justify;
    font-family: 'Open-Sans';
    font-weight: 600;
}

